<% @things.each do |thing| %>
<div class="col-lg-4" style="text-align: center">
  <div style="margin-top: 20px">
 <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#modal<%=thing.id%>">
    <%= thing.name %>
  </button>

</div>
</div>

  <div id="modal<%=thing.id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal<%=thing.id%>" aria-hidden="true">
    <div class="">
      <div class="">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 class="modal-title" id="modal<%=thing.id%>Label"><%=thing.name%></h4>
        </div>
        <div class="modal-body">
          <h4><%= thing.name %></h4>
           <%= button_to "delete", thing, :method => :delete, class: "btn btn-danger btn-small", data: { confirm: "Are you sure you want to delete this thing?" } %>
           <%= button_to "edit", edit_thing_path(thing), :method => :get, class: "btn btn-small" %>
           <% if thing.image.present? %>
            <%= image_tag thing.image.url(:thumb) %>
           <% end %>
          <ul>
           <li>Category: <%=thing.category.titleize %></li>
           <li>Reason You Love It: <%=thing.why.capitalize %></li>
           <li>Where It Is: <%= link_to thing.address, 
           "https://www.google.com/maps/preview?q=#{thing.address}"%></li>
          </ul>
           <%= content_tag "div", class: "map-canvas", data: {long: thing.longitude, lat: thing.latitude} do %>
           <% end %><br>
          
          </div>
      </div>
    </div>
  </div>
<% end %>