<% @things.each do |thing| %>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal<%=thing.id%>">
    <%= thing.name.titleize %>
  </button><br><br>

  <div id="modal<%=thing.id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel"><%=thing.name%></h4>
        </div>
        <div class="modal-body">
          <h4><%= thing.name.titleize %></h4>
          <%= image_tag thing.image.url(:thumb) %>
          <ul>
           <li>Category: <%=thing.category.titleize %></li>
           <li>Reason You Love It: <%=thing.why.titleize %></li>
           <li>Where It Is: <%= link_to thing.address, 
           "https://www.google.com/maps/preview?q=#{thing.address}"%></li>
          </ul>
           <%= content_tag "div", class: "map-canvas", data: {long: thing.longitude, lat: thing.latitude} do %>
           <% end %><br>
           <%= button_to "delete", thing, :method => :delete, data: { confirm: "Are you sure?" } %>
           <%= button_to "edit", edit_thing_path(thing), :method => :get %>
      
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>