<% if current_user.id == @thing.user_id %>
 
 <h1><%= @thing.name %></h1>

  <ul>
	 <li>Category: <%=@thing.category %></li>
   <li>Reason You Love It: <%=@thing.why %></li>
   <li>Where It Is: <%= @address %></li>
  </ul>
  
  
  <%= content_tag "div", id: "map-canvas", data: {long: @thing.longitude, lat: @thing.latitude} do %>
  <% end %>

 

 <br>
   <%= button_to "delete", @thing, :method => :delete %>
   <%= button_to "edit", edit_thing_path(@thing), :method => :get %>
   <%= button_to "Return to profile", profile_path(current_user.id), :method => :get %>

<% else %>

 <% flash[:notice] = "You cannot view another user's things" %>

   <%= button_to "Return to profile", profile_path(current_user.id), :method => :get %>

<% end %>
