<!DOCTYPE html>
<html>
<head>
  <title>Vetted</title>
  <%= stylesheet_link_tag    "bootstrap.min.css", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%ENV['GOOGLE_API_KEY']%>&sensor=false"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
       <a href="/things/new" class="navbar-brand"><button class="btn btn-danger pull-left">Add a thing</button></a>
      <ul class="nav navbar-nav">

           <li class="navbar-text">Logged in as <%= current_user.email %></li>
           <li class="navbar-text"><%= link_to "Edit Profile", edit_user_registration_path, :class => 'navbar-link' %> </li>
           <li class="navbar-text"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  <div class="container">
    <div class="row">
      <div class="span12">
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value%></div>  
        <% end %>
     
        <%= yield %>

      </div>
    </div>
  </div>

</body>
</html>